body {
    font-family: Arial, sans-serif;
    background-color: #355E3B;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.catalogo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.categoria {
    background-color: #527D5C;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    width: 155px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    display: block;
    overflow: hidden;
}

.categoria:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}
.categoria img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.texto-categoria {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.texto-categoria h3 {
    font-size: 18px;
    margin: 0;
    color: #fff;
}
/*INFO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    padding: 20px;
}

.catalog-k {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    align-items: flex-start;
    margin-left: -100px;
}

.card {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250%;
    height: 200px;
}
.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}
.card p {
    margin-bottom: 20px;
    color: #666;
}
.card .btn {
    background-color: #527D5C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card .btn:hover {
    background-color: #355E3B;
}

.KITS {
    width: 200%;
    max-width: 1000px;
    align-items: flex-start;
    margin-left: 500px;
}
.slider-KITS {
    width: 75%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.slider-KITS ul {
    display: flex;
    animation: cambio 36s infinite;
    padding: 0;
    margin: 0;
    width: 500%;
}
.slider-KITS li {
    width: 75%;
    list-style: none;
}
.slider-KITS img {
    width: 100%;
    display: block;
}
.slider-KITS h2 {
    text-align: center;
    margin-top: 20px;
}
@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: -0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}