.conten-item{
    padding-bottom: 5px;
    border-bottom: #eeeeee88 solid 1px;
}
/*------ ANUNCIO ------*/
.anuncios{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    margin: 0 30px;
}
.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.galeria-img{
    width: 500px;
}
.galeria img{
    width: 100%;
    height: 100%;
}

/*----- Destacado -----*/
.destacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.destacados-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 15px;
}
.destacados-contenido button{
    height: 50px;
    border: none;
    border-radius: 10px;
}

/*----- Carta de producto -----*/

.cart-producto{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    background: #007b81;
    box-shadow: -8px 8px 26px #00696e,8px -8px 26px #008d94;
    padding: 0 15px ;
}
.cart-producto a{
    text-decoration: none;
    color: #fff;
}
.info-producto{
    margin: 0 15px;
    border-top: 2px solid #ffffff4c;
}
.baner-productos{
    margin: auto;
    width: 80%;
}
.baner-img img{
    width: 100%;
    height: 100%;
}

/*----- Productos -----*/

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productos-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-items: center;
    gap: 30px;
    padding: 10px;
}
