@keyframes modalIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 110;
}
.modal.show {
    display: flex;
    animation: modalIn var(--animacion-duracion) ease-out;
}
.modal-content {
    background: var(--login-fondo);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 15px var(--sombra);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: 0;
    animation: modalIn var(--animacion-duracion) ease-out forwards;
}
.modal-content h2 {
    color: var(--blanco);
    font-size: 24px;
    text-align: center;
}
.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}
.modal-content label {
    display: block;
    font-size: 16px;
    color: var(--blanco);
}
.modal-content input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--negro);
    transition: 0.3s ease;
}
.modal-content input:hover {
    border-color: var(--botones);
    box-shadow: 0 0 8px rgba(221, 64, 58, 0.6);
}
.btn-ingresar {
    width: 100%;
    padding: 12px;
    background-color: var(--botones);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: var(--transicion);
    box-shadow: 0 0 5px var(--sombra-dura);
}
.btn-ingresar:hover {
    background-color: var(--negro);
    box-shadow: 0 0 8px var(--sombra);
    transform: translateY(-3px);
    color: var(--blanco);
}
.options {
    display: flex;
    align-items: center;
    gap: 15px;
}
.options a {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 16px;
    transition: var(--transicion);
}
.options a:hover {
    text-decoration: underline;
    transition: var(--transicion);
    color: var(--negro);
    cursor: pointer;
}
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: var(--transicion);
    color: var(--negro);
    transform: translateY(-3px);
}
