*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fondo : radial-gradient(circle, rgba(122, 189, 135, 1) 0%, rgba(202, 222, 200, 1) 44%, rgba(232, 251, 237, 1) 100%);
    --header : linear-gradient(90deg, #acd4c0, #1f5f39);
    --footer: linear-gradient(90deg, rgba(11, 37, 48, 0.804) 0%, rgba(31, 95, 91, 0.751) 50%, rgba(73, 178, 101, 1) 100%);
    
}
body{
    font-family: sans-serif;
    background: var(--fondo);
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    z-index: 100;
}
.conten-item{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: #33333388 solid 1px;
}.conten-item > div{
    width: 90%;
}
.conten-item:last-child{
    padding: 0;
    border-bottom: none;
}
/*-------- HEADER ---------*/
#btn-header{
    display: none;
}
.btn-header{
    font-size: 50px;
    cursor: pointer;
    display: none;
}
header{
    width: 95%;
    overflow: visible;
    position: sticky;
    border-radius: 15px;
        top: 10px;
        left: 20px;
        right: 20px;
    z-index: 100;
    background: var(--header);
    backdrop-filter: blur(10px);
}
header h2{
    display: none;
    text-align: center;
}
.header-content{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 15px 0;
    grid-column: span 3;
}
.logo, .logo img{
    width: 50px;
}
.buscardor{
    width: 100%;
}
.buscardor form{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.buscador-tex{
    width: 70%;
    border-radius: 15px;
    border: none;
    padding: 10px;
}
.buscador-btn{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #03624c;
    border: none;
    border-radius: 15px;
}
.nav-general{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.nav-link{
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #03624c;
    padding-bottom: 10px;
}
.nav-selec{
    border-bottom: 2px solid #2cc295;
}
.nav-link:hover{
    border-bottom: 2px solid #06302b;
}
.personal{
    list-style: none;
}
.desplegable{
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 93px;
    height: 53px;
}
.desplegable{
    padding: 0;
}
.contenedor-personal[open]{
    background: var(--fondo);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px #333;
    border: none;
    z-index: 100;
    color: #333;
    transition-duration: 2s;
}
.contenedor-personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    color: #fff;
    transition: all 1s ease;
}
.contenedor-personal ul{
    top: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.contenedor-personal summary {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.contenedor-personal li{
    padding: 5px 0;
    border-bottom: #33333388 solid 1px;
}
.contenedor-personal li:last-child{
    border-bottom: none;
}
.contenedor-personal a{
    text-decoration: none;
    text-transform: capitalize;
    color: #333;

}
.personal i{
    font-size: 50px;
}


/*----- FOOTER -----*/
footer{
    background: var(--footer);
    color: #fff;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 15px;
    margin: 15px;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.informacion p{
    text-align: center;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.footer-ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-ul li{
    list-style: none;
}
.footer-ul a{
    text-decoration: none;
    color: #fff;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-item{
    text-align: center;
}
/*----- Carta de producto -----*/

.cart-producto{
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}
.cart-producto:hover{
    transform: translateY(-10px);
}
.cart-producto:hover img{
    transform: scale(1.2);
}
.cart-producto a{
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baner-productos{
    width: 95%;
}
.baner-img{
    border-bottom: 2px solid #0000004c;
}
.baner-img img{
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}
.categoria {
    font-size: 12px;
    color: #555;
    text-transform: uppercase;
    margin-top: 10px;
}
.nombre {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}
.precio {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.btn-carrito {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}
.btn-carrito:hover {
    background: #ddd;
}

/*----- media query -----*/

@media (max-width: 768px){
    header{
        width: 100%;
            top: 0;
            left: 0;
            right: 0;
        border-radius: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    .btn-header{
        display: block;
    }
    header h2{
        display: block;
    }
    .header-content {
        display: none;
    }
    #btn-header:checked ~ .header-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        height: 100vh;
    }
    .header-content .logo{
        width: 350px;
        margin: auto;
        order: 1;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
    .nav-general{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .footer{
        grid-template-columns: 1fr;
    }
    .informacion,.footer-nav{
        padding-bottom: 15px;
        border-bottom: #eeeeee88 solid 1px;
    }
    .conten-item > div{
        width: 100%;
    }
}
