
:root{
    --boton-carucel: #47bf26;
}

.img{
    height: 300px;
}
.img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.carousel-indicators [data-bs-target] {
    background-color: var(--boton-carucel);
}

.carousel-control-next-icon , .carousel-control-prev-icon {
    background: none;
}
.carousel-control-next-icon i , .carousel-control-prev-icon i{
    color: var(--boton-carucel);
    font-size: 3rem;
}
