/*----- Nivel de menbresia -----*/
.nivel-menbresia {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-left: 150px;
    margin-top: 40px;
}

.botones {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.botones button {
    width: 70%;
    min-width: min-content;
    background-color: #03624c;
    border-radius: 10px;
    border: none;
    padding: 15px 0;
    color: #fff;
    transition: background-color 0.5s ease;
    cursor: pointer;
    box-shadow: 0px 0px 10px #ccc;
    font-size: 1em;
}

.botones button:hover {
    background-color: #06302b;
    box-shadow: 0px 0px 15px #ccc;
    font-weight: bold;
    transform: translateY(-5px);
    transform: scale(1.05);
}

.barra {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.progreso {
    margin: 5px 3px;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
}

.si {
    background-color: #03624c;
    color: #fff;
    border-radius: 5px;
}
/*----- rangos-----*/
.TEXT-RANGOS{
    text-align: center;
    margin: 30px;
}
.rangos {
    text-align: center;
    padding: 40px;
}
.rangos h2 {
    font-size: 2em;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.rangos-container {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    gap: 19px;
    justify-items: center;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.rango {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}
.rango-img img {
    width: 161px;
    height: 143px;
    margin-bottom: 14px;
}
.rango h3 {
    font-size: 1.2em;
    color: #03624c;
    margin-bottom: 10px;
}
.rango p {
    font-size: 0.9em;
    color: #555;
}